.chapter(data-title='Displaying the Landing Page')
  .step(data-title='How It Works', data-file='views/index.jade')
    :markdown
      

  .step(data-title='Step Two')
    h2 Chapter One, Step Two
    p.
      Doing it up in pure <a href="http://jade-lang.com/reference/">jade</a>.
