.chapter(data-title='Sending the Lead Notification')
  .step(data-title='How It Works', data-file='views/index.jade')
    h2 How It Works
    p.
      You probably already have landing pages or product detail views in your
      web application 

  .step(data-title='Step Two')
    h2 Chapter One, Step Two
    p.
      Doing it up in pure <a href="http://jade-lang.com/reference/">jade</a>.
